[Desktop Entry]
Version=0.1
Type=Application
Exec=/usr/bin/OneClickBingWallpaper/OneClickBingWallpaper
Name=BingWallpaper
Name[zh_CN]=必应壁纸一键设置
Comment=click and set newest Bing wallpaper
Comment[zh_CN]=点击设置最新的必应壁纸
Icon=OneClickBingWallpaper
Categories=Other;
