Source: oneclickbingwallpaper
Section: utils
Priority: optional
Maintainer: ypingcn <1344632698@qq.com>
Build-Depends: debhelper (>=9), qt5-qmake, qt5-default, qtbase5-dev, python3, python-argparse, python3-requests, libdtkwidget-dev
Standards-Version: 3.9.6
Homepage: https://github.com/ypingcn/BingWallpaper

Package: oneclickbingwallpaper
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OneClickBingWallpaper
  A Qt-based program for setting newest Bing Wallpaper, just click the tray icon.
